h1 {color: rgb(255, 0, 170);
}
h1 {font-size: 300%;
}
h2 {color: blueviolet;
}
h3 {color: rgb(255, 0, 255);
}
h4 {color: rgb(76, 0, 255);
}
h1 {text-align: center;
}
h2 {text-align: right;
}
h3 {border-color: rgb(0, 0, 0);
border-style: solid;
border-width: 5px;
}
h4 {border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    }
    h5 {font-size: 200%;
    }
h5{color: rgb(226, 43, 186);
}
h5 {text-align: center;
}
h3 {margin-left: 45%;
}
h4 {margin-left: 45%;
}

.parte1 {background-color: rgb(66, 66, 252);
}
.parte2 {background-color: rgb(172, 235, 214);
}